*, *::before, *::after {
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #000;
}

#game-board {
    background-color: #ccc;
    height: 100vmin;
    width: 100vmin;
    display: grid;
    grid-template-columns: repeat(21, 1fr);
    grid-template-rows: repeat(21, 1fr);
}

.snake {
    background-color: hsl(120, 99%, 30%);
    border: .25vmin solid #222;
}

.food {
    background-color: hsl(0, 79%, 45%);
    border: .25vmin solid #222;
}